body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to bottom, rgba(7, 179, 209, 0.5), rgba(252, 248, 248, 0.5)); /* Replace with your desired overlay colors */
    background-blend-mode: multiply;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.sign-up-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #3e8e41;
}

.hero {
    background-image: linear-gradient(to bottom, #88e4f5, #fff);
    padding: 100px;
    text-align: center;
}

.hero-text {
    margin-bottom: 20px;
}

.hero-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.app-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.app-buttons button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.app-buttons button img {
    width: 100px;
    height: 40px;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.popular-destinations h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popular-destinations p {
    font-size: 18px;
    margin-bottom: 20px;
}

.destinations-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.destination {
    background-color: #c4c3c3;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.destination img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.destination h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.destination p {
    font-size: 16px;
    margin-bottom: 20px;
}

.why-choose-us {
    padding: 50px;
    text-align: center;
}

.why-choose-us h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.why-choose-us p {
    font-size: 18px;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.feature {
    margin-right: 20px;
}

.feature img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feature h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    margin-bottom: 20px;
}

.travel-image {
    text-align: center;
}

.travel-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.plan-vacation {
    padding: 50px;
    text-align: center;
}

.plan-vacation h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-vacation p {
    font-size: 18px;
    margin-bottom: 20px;
}

.plan-vacation img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.plan-vacation button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.plan-vacation button:hover {
    background-color: #3e8e41;
}

footer {
    background-color: #61c5f3;
    padding: 20px;
    text-align: center;
}

footer h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer p {
    font-size: 16px;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    color: #333;
}

.sign-up-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color: #3e8e41;
}

footer p:last-child {
    font-size: 14px;
    color: #666;
}
.popular-destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100;
    height: auto;
  }
  .destination:hover {
    transform: translateY(-5px);
  }
  .popular-destinations {
    padding: 50px;
    text-align: center;
}
.destination {
    width: 60%;
    height: 60vh;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;